# DICTIONARIES

In [ ]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
From the above dictionary, do the following tasks

access "Mike"
access 80
change "Mike" to "Your name"
add ML = 80 and DL = 80 inside marks

In [6]:
#access mike
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
dict1["april_batch"]["student"]["name"]

'Mike'

In [24]:
#access 80
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
dict1["april_batch"]["student"]["marks"]["python"]

80

In [16]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
dict1["april_batch"]["student"]["name"]= eshitha
print(dict1)

{'april_batch': {'student': {'name': 'eshitha', 'marks': {'python': 80, 'maths': 70}}}}

In [32]:
#add ML=80 DL=80
dict1["april_batch"]["student"]["marks"]["ML"] = "80"
dict1["april_batch"]["student"]["marks"]["DL"] = "80"
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70, 'ML': '80', 'DL': '80'}}}}