## Inbuilt function differnce() & symmetric difference()

In [14]:
## difference() inbuilt function is used to returns a set that contains difference between two sets
## eg for differnce() is explained below
A = {10, 20, 30, 40, 80} 
B = {100, 30, 80, 40, 60} 
print (A.difference(B)) 
print (B.difference(A))

{10, 20}
{100, 60}

In [8]:
## symmetric difference() return the symmetric value in the given sets
## eg 1 for symmetric differnce() is explained below
# Set X
X = {1, 2, 3}

# Set Y
Y = {2, 3, 4}

# Set Z
Z = {2, 3, 4}

print("Symmetric difference between X & Y", X.symmetric_difference(Y)) 
print("Symmetric difference between Y & Z", Y.symmetric_difference(Z))
print("Symmetric difference between X & Z", X.symmetric_difference(Z))

Symmetric difference between X & Y {1, 4}
Symmetric difference between Y & Z set()
Symmetric difference between X & Z {1, 4}

In [12]:
## eg 2 for symmetric differnce() is explained below

A = {"apple" , "banana", "kiwi"}
B = {"kiwi" , " banana", "orange"}
C = {1,2,"apple"}
print("symmetric difference between A & B", A.symmetric_difference(B))
print("symmetric difference between B & C", B.symmetric_difference(C))
print("symmetric difference between A & C", A.symmetric_difference(C))

{'orange', 'banana', ' banana', 'apple'}
symmetric difference between B & C {1, 2, 'orange', 'kiwi', ' banana', 'apple'}
symmetric difference between A & C {1, 2, 'kiwi', 'banana'}

In [13]:
## eg 3 for symmetric differnce() is explained below
var1 = {10,20,40,50,60}
var2 = {50,60,70,80,90}
print(var1.symmetric_difference(var2))
print(var2.symmetric_difference(var1))

{80, 10, 20, 70, 40, 90}
{80, 20, 90, 70, 40, 10}

In [15]:
## eg 2 for  differnce() is explained below
var1 = {10,20,40,50,60}
var2 = {50,60,70,80,90}
print(var1.difference(var2))
print(var2.difference(var1))

{40, 10, 20}
{80, 90, 70}

In [ ]:
# in built data structures 
# integer, float, strings, lists, dictionaries, sets, tuple, booleans

In [56]:
# eg for list
list1 = [1,2,3,4,5,6,7]
len(list1) #gives the length of the list

type(list1) # gives the type of the list

list1.append(8) # adds the given element at the last
print("list1:", list1)

list1.insert(8,9) # add the given element at the particular index given
print(list1)

list2 = [10,11,12,13] # declaring new list
print("list 2:",list2)

list1.extend(list2) # using extend function
print("updated list1 :", list1)

list1.pop(4) # pop() remove the element by indexing
print(list1)

list1.remove(4) # remove()  the element given
print(list1)

list3 = list1[3] # accessing the element by positive indexing
print(list3)

list4 = list1[-2] # accessing the element by negative indexing
print(list4)

list1.clear() # clears the full given set 
print(list1)

list1: [1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
list 2: [10, 11, 12, 13]
updated list1 : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13]
[1, 2, 3, 6, 7, 8, 9, 10, 11, 12, 13]
6
12
[]

In [111]:
# egs for tuples
tup1 = ("apple", 2, "0.03", " true")
tup2 = (3,4,5)
print("length of the given tuple is:", len(tup1))
print("type of the given data structure is:", type(tup1))

# in tuples we canot change the given data so by using list we can change
list1 = list(tup1)
print("list1:", list1) # converting tuple to list

list2 = list(tup2)
print("list2:", list2) # converting tuple to list

list1[1:3:] # slicing

list1.append(list2)
print("updated list1:", list1)

list1.append(10)
print("updated list1:", list1)

list2.extend(list1)
print("updated list2:", list2)

print(list1.pop(2)) # positive indexing

print(list1.pop(-1)) # negative indexing

list2.clear() # clears the full list
print(list2)
 
list1.count(2) # counts the given value

tup1 = tuple(list1) # converting list to tuple
print(tup1)

length of the given tuple is: 4
type of the given data structure is: <class 'tuple'>
list1: ['apple', 2, '0.03', ' true']
list2: [3, 4, 5]
updated list1: ['apple', 2, '0.03', ' true', [3, 4, 5]]
updated list1: ['apple', 2, '0.03', ' true', [3, 4, 5], 10]
updated list2: [3, 4, 5, 'apple', 2, '0.03', ' true', [...], 10]
0.03
10
[]
('apple', 2, ' true', [])

In [130]:
# egs for dictonaries
dict1 = {"name": "eshitha", "roll no": 224}
dict2 = {"place": "blr"}

print(type(dict1))
print("length of the dict1:",len(dict1))

dict1["name"] = "sri" # changing the value
dict1["roll no"] =143 # changing the value
print(dict1)

dict1["pincode"] = 560043 # adding new key & value
print("updated dict1:", dict1)

dict1.popitem() # removes the last inserted item
print("updated dict1:", dict1)

dict1.update(dict2)
print(dict1)

<class 'dict'>
length of the dict1: 2
{'name': 'sri', 'roll no': 143}
updated dict1: {'name': 'sri', 'roll no': 143, 'pincode': 560043}
updated dict1: {'name': 'sri', 'roll no': 143}
{'name': 'sri', 'roll no': 143, 'place': 'blr'}

In [145]:
# eg for sets
set1 = {1,2,3,4,5}
set2 ={4,5,6,7,8}
set2.add(2) # by using add we can add only one elemet
print(set2)
set2.update([9,10]) # by using update we can add set of elements
print("updated set2:", set2)
print(set1.union(set2))
print(set1.intersection(set2))

print(set2.union(set1))
print(set2.intersection(set1))

print(set1.difference(set2))
print(set2.difference(set1))

print(set1.symmetric_difference(set2))
print(set2.symmetric_difference(set1))

{2, 4, 5, 6, 7, 8}
updated set2: {2, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{2, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{2, 4, 5}
{1, 3}
{6, 7, 8, 9, 10}
{1, 3, 6, 7, 8, 9, 10}
{1, 3, 6, 7, 8, 9, 10}